/*--- Hero ---*/

#{$id} .Hero {
  display: flex;
  background-color: black;
  min-height: 640px;
  overflow: hidden;
  padding: 0 20px;

  .row {
    height: 100%;
  }

  p {
    font-size: 1.5em;
    line-height: 1;
  }

  h1 {
    font-family: "Oswald", serif;
    font-style: normal;
    font-size: clamp(0.5em, 7.6vw, 7em);
    font-weight: 500;
    color: #ffffff;
    line-height: 1em;
    text-align: left;
    text-transform: uppercase;
  }

  h3 {
    font-size: clamp(0.5em, 3.5vw, 7em);
    text-align: left;
    font-family: "Oswald", serif;
    color: #ffffff;
    font-weight: 300;
  }
}

@media screen and (min-width: 576px) {
  #{$id} .Hero {
    padding: 0 40px;
  }
}
