/*--- Intro ---*/

#{$id} .Intro {
  padding: 50px 10px;
  background: linear-gradient(to bottom, #fdecbd 10%, #ffecb3 50%, #ecba4f 85%);

  h3 {
    font-family: "Montserrat", serif;
    font-size: 1.4em;
    text-align: left;
    font-weight: 500;
    line-height: 1.4em;
    text-align: center;
  }
}

@media screen and (min-width: 576px) {
  #{$id} .Intro {
    padding: 100px 10px;
  }
}
