/*--- Steps ---*/

#{$id} .Steps {
  padding: 50px 0;
  background: url($image_base_url + "/starburst.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .row:nth-child(2) {
    gap: 30px 0;
  }

  h1 {
    font-size: 2em;
    line-height: 1.1em;
    text-align: center;
    text-transform: uppercase;
    font-family: "Oswald", serif;
    font-weight: 500;
    color: $color-text-yellow;
  }

  h2 {
    font-size: 2em;
    line-height: 1.1em;
    text-align: center;
    text-transform: uppercase;
    font-family: "Oswald", serif;
    font-weight: 500;
    color: $color-text-yellow;
  }

  .or {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0.5em 0;

    p {
      margin: 0 0.5em;
    }
  }

  .grid-item {
    height: 100%;
    color: #000;
    padding: 2em;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

    background-color: rgb(244, 192, 70);
    background-image:
      radial-gradient(at 40% 20%, rgb(255, 235, 180) 0px, transparent 50%),
      radial-gradient(at 0% 50%, rgb(236, 186, 98) 0px, transparent 50%),
      radial-gradient(at 0% 100%, rgb(239, 188, 106) 0px, transparent 50%),
      radial-gradient(at 0% 0%, rgb(255, 229, 125) 0px, transparent 50%);

    h2 {
      font-family: "Oswald", serif;
      font-weight: 500;
      font-size: clamp(1.7em, 2vw, 3em);
      line-height: 1.1em;
      text-transform: uppercase;
      text-align: left;
      color: #000;
    }

    p {
      font-family: "Montserrat", serif;
      font-size: 1.2em;
      font-weight: 500;
      line-height: auto;
    }

    .footnote {
      font-size: 1em;
      font-style: italic;
    }
  }

  .cta {
    display: block;
    width: fit-content;
    font-size: clamp(1.6em, 2vw, 2em);
    font-weight: 600;
    line-height: 1em;
    font-family: "Montserrat", serif;
    text-align: center;
    text-transform: uppercase;
    margin: 40px auto 0 auto;
    padding: 0.5em 1.2em;
    border-radius: 50px;
    color: #000;

    background-image: linear-gradient(
      to bottom,
      #ffecb3 0%,
      #ffec82 10%,
      #ffecb3 30%,
      #c9892a 85%,
      #ffec82 100%
    );

    background-color: #ffec82 10%;
  }
}

@media screen and (min-width: 576px) {
  #{$id} .Steps {
    padding: 120px 40px;

    h1 {
      font-size: 3em;
      line-height: 1.1em;
    }

    .grid-item {
      h2 {
        font-size: clamp(2em, 2vw, 3em);
        line-height: 1.1em;
      }
    }
  }
}
